.blog-card {
  width: 250px;
  height: 280px;
  border: 1px solid #0a0f24;
  border-radius: 10px;
  padding: 10px;
}

.blog-card a {
  text-decoration: none;
  color: #00e5ff;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.blog-card a:hover {
  color: #049cad;
  font-weight: bold;
}
