/* =========================================
   WeMoren Global Styles
   ========================================= */
:root {
  --midnight-blue: #0a0f24;
  --contact-bg: #020817;
  --neon-blue: #00e5ff;
  --card-shadow: #014b53;
  --nav-blue: #056f7b;
  --soft-silver: #d9d9d9;
  --card-background: #0d132f;
  --contact-placeholder: #7d89ac;
  --contact-text: #aab3d0;
}

/* =========================
   Light Theme Overrides
   ========================= */
[data-theme="light"] {
  --midnight-blue: #f3f9ff;
  --contact-bg: #ffffff;

  --soft-silver: #020817;
  --card-background: #ffffff;
  --card-shadow: #e5e7eb;

  --nav-blue: #e5e7eb;

  --contact-text: #475569;
  --contact-placeholder: #64748b;
}

html,
body {
  height: 100%;
}

#__next,
main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar button {
  background: transparent;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.navbar button:hover {
  background: var(--neon-blue);
  color: var(--midnight-blue);
}

/* Base Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--midnight-blue);
  /* color: var(--midnight-blue); */
  line-height: 1.6;
}

.navbar {
  height: 75px;
  background-color: var(--midnight-blue);
  position: fixed;
  border-bottom: 1px solid #e4e4e7;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.theme-btn {
  background-color: transparent;
}

.link {
  text-decoration: none;
  color: var(--soft-silver);
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: #00e5ff;
}
/* Hero Gradient */
.hero-gradient {
  color: var(--soft-silver);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin-top: 4rem;

  padding: 2rem;
}

.hero-gradient a {
  text-decoration: none;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: "1rem";
}

.tech-role {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* Buttons */
.brand-button {
  background-color: var(--neon-blue);
  color: var(--midnight-blue);
  border: none;
  padding: 0.75rem 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.brand-button:hover {
  background-color: var(--midnight-blue);
  color: var(--neon-blue);
  border: 2px solid var(--neon-blue);
}

/* Cards */
.project-card {
  background-color: var(--card-background);
  border: 2px solid var(--neon-blue);
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 2px 5px var(--neon-blue);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.demo {
  text-decoration: none;
  background: transparent;
  border: 2px solid var(--neon-blue);
  color: var(--soft-silver);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 999px;
  transition: 0.5s ease-in-out;
}

.demo:hover {
  background: transparent;
  color: var(--background);
  background: var(--neon-blue);
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  margin-top: 4rem;
}

.container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--soft-silver);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  place-items: center;
  justify-content: center;
  padding: 16px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.75rem;
}

.skills .techs {
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--neon-blue);
  border: 2px solid var(--neon-blue);
  border-radius: 9999px;
  font-weight: 500;
}

.contact-container {
  min-height: 100vh;
  padding: 60px 20px;
  margin-top: 4rem;
  background: var(--contact-bg);
  color: var(--soft-silver);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.contact-wrapper h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-wrapper p {
  font-size: 16px;
  color: var(--contact-text);
  margin-bottom: 40px;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #1f2a48;
  color: white;
  font-size: 15px;
  resize: none;
  transition: 0.3s;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--contact-placeholder);
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--neon-blue); /* neon blue */
  box-shadow: 0 0 10px var(--neon-blue);
  outline: none;
}

.contact-form button {
  padding: 14px;
  border-radius: 10px;
  border: none;
  background: var(--neon-blue);
  color: var(--contact-bg);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

.status-message {
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
  color: var(--text-primary);
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--soft-silver);
  transition: 0s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 75px;
  right: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  align-items: center;
  flex-direction: column;
  padding: 10px;
  z-index: 50;
}

.mobile-menu a {
  padding: 8px 0;
  text-decoration: none;
  color: var(--soft-silver);
}

.hero-gradient {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* Footer */

.footer {
  background-color: var(--midnight-blue);
  border-top: 1px solid #1f2a48;
  padding: 60px 20px 20px;
  color: var(--soft-silver);
}

.footer-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: start;
}

/* Brand */
.footer-brand h3 {
  color: var(--neon-blue);
  font-size: 1.5rem;
}

.footer-brand p {
  color: var(--contact-text);
  margin-top: 8px;
}

/* Nav */
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav a {
  color: var(--soft-silver);
  text-decoration: none;
}

.footer-nav a:hover {
  color: var(--neon-blue);
}

/* Actions */
.footer-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}

.footer-socials {
  display: flex;
  gap: 14px;
}

.footer-socials a {
  color: var(--soft-silver);
  transition: 0.3s;
}

.footer-socials a:hover {
  color: var(--neon-blue);
  transform: translateY(-2px);
}

.cv-download {
  display: flex;
  align-items: center;
  gap: 6px;
  /* background-color: var(--neon-blue); */
  color: var(--neon-blue);
  text-decoration: none;
  font-weight: 500;
  padding: 6px;
  border: 1px solid var(--neon-blue);
  border-radius: 999px;
  transition: all 0.4s ease-in-out;
}

.cv-download:hover {
  border-color: var(--neon-blue);
  transform: translateY(-3px);
  background-color: transparent;
}

/* Bottom row */
.footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;
  padding-top: 20px;
  border-top: 1px solid #1f2a48;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: var(--contact-placeholder);
}

.back-to-top {
  background: transparent;
  border: 1px solid var(--neon-blue);
  color: var(--neon-blue);
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
  }

  .mobile-menu.show {
    display: flex;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.8rem;
    place-items: center;
    justify-content: center;
    padding: 16px;
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .hero-gradient h2 {
    font-size: 16px;
    margin-bottom: 1rem;
  }

  .brand-button {
    padding: 0.75rem;
    font-size: 16px;
  }

  .nav-right {
    margin-left: auto;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-actions {
    align-items: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu.show {
    display: flex;
  }

  .name {
    font-size: 1.6rem;
  }

  .tech-role {
    font-size: 0.8rem;
  }
}

@media (max-width: 420px) {
  .container h2 {
    font-size: 1rem;
  }

  .mobile-menu {
    height: 100vh;
  }

  .mobile-menu a {
    font-size: 25px;
  }

  .name {
    font-size: 1.3rem;
  }

  .tech-role {
    font-size: 0.8rem;
  }
}
